<div class="container">
  <div class="sidebar">
    <button mat-raised-button color="primary" (click)="showCreateGameForm()">Create New Game</button>
    <button mat-raised-button color="primary" (click)="fetchGames()">Games (Jan 1, 2020 - Apr 1, 2020)</button>
    <button mat-raised-button color="primary" (click)="fetchBestPlayer()">Best Chess Player</button>
    <button mat-raised-button color="primary" (click)="fetchMostGamesPlayer()">Player with Most Games</button>
  </div>

  <div class="content">
    <!-- Display dynamic content -->
    <div *ngIf="currentView === 'create-game'">
      <h2>Create New Game</h2>
      <form (ngSubmit)="submitNewGame()" class="form-container">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Start Date</mat-label>
          <input
            matInput
            type="date"
            [(ngModel)]="newGame.startDate"
            name="startDate"
            #startDateModel="ngModel"
            required
          >
          <mat-error *ngIf="startDateModel.touched && !startDateModel.valid">
            Start Date is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>End Date</mat-label>
          <input
            matInput
            type="date"
            [(ngModel)]="newGame.endDate"
            name="endDate"
            #endDateModel="ngModel"
            required
          >
          <mat-error *ngIf="endDateModel.touched && !endDateModel.valid">
            End Date is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Type</mat-label>
          <mat-select [(ngModel)]="newGame.type" name="type" required>
            <mat-option *ngFor="let gameType of gameTypes" [value]="gameType">
              {{ gameType }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!newGame.type">
            Type is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Number of Matches</mat-label>
          <input matInput type="number" [(ngModel)]="newGame.nrPartide" name="nrPartide">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Player 1 ID</mat-label>
          <input matInput type="number" [(ngModel)]="newGame.jucator1" name="jucator1">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Player 2 ID</mat-label>
          <input matInput type="number" [(ngModel)]="newGame.jucator2" name="jucator2">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="submit-button">Create Game</button>
      </form>
    </div>

    <div *ngIf="currentView === 'game-table'" class="game-table-container">
      <h2>Games</h2>

      <form (ngSubmit)="fetchGamesByDate()" #gameForm="ngForm">
        <div class="date-range-container">
          <!-- Start Date Selection -->
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Start Date</mat-label>
            <input
              matInput
              type="date"
              [(ngModel)]="startDateForGames"
              name="startDate"
              #startDateModel="ngModel"
              required
              class="datepicker-content"
            />
            <mat-error *ngIf="startDateModel.touched && !startDateModel.valid">
              Start Date is required.
            </mat-error>
          </mat-form-field>

          <!-- End Date Selection -->
          <mat-form-field appearance="fill" class="form-field" >
            <mat-label>End Date</mat-label>
            <input
              matInput
              type="date"
              [(ngModel)]="endDateForGames"
              name="endDate"
              #endDateModel="ngModel"
              required
            />
            <mat-error *ngIf="endDateModel.touched && !endDateModel.valid">
              End Date is required.
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Submit Button -->
        <div class="form-actions">
          <button mat-raised-button color="primary" [disabled]="gameForm.invalid">Fetch Games</button>
        </div>
      </form>

      <!-- Game Table -->
      <mat-table [dataSource]="games" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Game ID</mat-header-cell>
          <mat-cell *matCellDef="let game"> {{ game.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
          <mat-cell *matCellDef="let game"> {{ game.type }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef> Start Date</mat-header-cell>
          <mat-cell *matCellDef="let game"> {{ game.startDate | date }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <mat-header-cell *matHeaderCellDef> End Date</mat-header-cell>
          <mat-cell *matCellDef="let game"> {{ game.endDate | date }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="player1">
          <mat-header-cell *matHeaderCellDef> Player 1</mat-header-cell>
          <mat-cell *matCellDef="let game"> {{ game.jucator1?.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="player2">
          <mat-header-cell *matHeaderCellDef> Player 2</mat-header-cell>
          <mat-cell *matCellDef="let game"> {{ game.jucator2?.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="winner">
          <mat-header-cell *matHeaderCellDef> Winner</mat-header-cell>
          <mat-cell *matCellDef="let game"> {{ game.winner?.name }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

    <div *ngIf="currentView === 'best-player'" class="most-games-player-container">
      <mat-card class="player-card">
        <mat-card-header>
          <mat-card-title>Best player by games</mat-card-title>
          <mat-card-subtitle>Statistics Overview</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Name:</strong> {{ bestPlayer?.player?.name || 'N/A' }}</p>
          <p><strong>Date of Birth:</strong> {{ bestPlayer?.player?.birth_date || 'N/A' }}</p>
          <p><strong>Registration Date:</strong> {{ bestPlayer?.player?.registration_date || 'N/A' }}</p>
          <p><strong>Win Count:</strong> {{ bestPlayer?.winCount || 0 }}</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="currentView === 'most-games-player'" class="most-games-player-container">
      <mat-card class="player-card">
        <mat-card-header>
          <mat-card-title>Player with Most Games</mat-card-title>
          <mat-card-subtitle>Statistics Overview</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Name:</strong> {{ mostGamesPlayer?.player?.name || 'N/A' }}</p>
          <p><strong>Date of Birth:</strong> {{ mostGamesPlayer?.player?.birth_date || 'N/A' }}</p>
          <p><strong>Registration Date:</strong> {{ mostGamesPlayer?.player?.registration_date || 'N/A' }}</p>
          <p><strong>Games Played:</strong> {{ mostGamesPlayer?.nrOfWins || 0 }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

